/*Importando Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@1,200&family=Rubik+Mono+One&family=Source+Code+Pro&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
a {
    text-decoration: none;
    
}

.itens-menu a:hover{
    opacity: 0.7;
    color: rgba(255, 120, 0, 1.0);
}

.logo-menu:hover{
    opacity: 0.7;
}

li {
    list-style: none;
}

.logo-menu{
    font-size: 24px;
    text-transform: uppercase;/*Letras Maiúsculas*/
    letter-spacing: 4px;
    color: #034603;
    transition: 0.3s;
}

span{
    color: #f93a00;
}

.tou{
    color: #f93a00;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    height: 10vh;
}

.itens-menu a{
    color:rgba(255, 120, 0, 1.0);
    transition: 0.3s ease;
}

.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

input[type=checkbox]{
    display: none;
} 

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/*Inicio do conteúdo inicial*/
.conteudo-out-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}



.img-inicial{
    width: 400px;
    height: 400px;
    background-color: orangered;
    margin-right: 10vw;
    background-image: url("../img/marmita.jpeg");
    background-repeat: no-repeat;
    background-position:center;    
}

.marmitese-titulo{
    text-transform: uppercase;/*Letras Maiúsculas*/
    letter-spacing: 4px;
    color:greenyellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.marmitese-descricao{
    letter-spacing: 4px;
    color:greenyellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

footer{

    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-container p{
    max-width: 500px;
    margin: 10px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*Quem somos*/

.conteudo-quemsomos{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-quemsomos{
    width: 80%; 
    height: auto;
}

.vmf{
    width: 100%;
}

.texto-quemsomos{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-right: 4vw;
    margin-left: 50px;
    margin-bottom: 10vh;
    width: 80%;
}

/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    height: auto;
   }
   .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }

   input[type=checkbox]:checked ~ .menu{
    display: block;
   }

   .hamburger {
    display: block;
   }

   .itens-menu{
    color: rgba(255, 120, 0, 1.0);
   }



   /*Inicio do conteúdo inicial*/
    .conteudo-out-menu{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
    }

    .img-inicial{
        width: 100%;
        margin-right: 0px;
        margin-top: 0px;
    }

    .imglogo{
        width: 200px;
        height: 200px;
    }

    .img-quemsomos{
        width: 100%;    
    }

    .texto-quemsomos{
        margin-left: 20px;
    }

}

/*https://www.devmedia.com.br/criando-form-de-contato-com-html5-css3-e-javascript/29415*/

button{
    background-color: #f9004d;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.container-cards{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}


.Card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f93a00;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align:  center;
    
}

.Card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #5a1d00;
}

h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.img-cards{
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

  .img-cards img {

    bottom: 0;
    width: 100%;
  }

.titulo-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color:greenyellow;
    font-family: 'Montserrat', sans-serif;
}

.conteudoequipe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}